.loginContainer {
  position: relative;
  top: 40%;
}

.wrapper {
  margin: auto;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 100%;
}

.btnSubmit {
    width: 100%;
    background-color: #5c83ee;
    border-radius: 1rem;
    padding: 20px;
    border: none;
    cursor: pointer;
}