.chatHeader {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  padding: 0 20px;
  line-height: 1.25;
}

.chatInfo, .lastMessage {
  padding: 10px 0;
}

.chatInfo span {
  margin-right: 15px;
}

